

@media (max-width: 1200px) {
    .hamburger{
        display: block;
      }
    .menu {
        --s: 25px; 
        
        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s)/2) solid #0000; 
        box-sizing: content-box;
        --_g1: linear-gradient(var(--special-bg-color) 20%,#0000 0 80%,var(--special-bg-color) 0) 
               no-repeat content-box border-box;
        --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--special-bg-color) 95%,#0000) 
               repeat-y content-box border-box;
        background: 
          var(--_g2) left  var(--_p,0px) top,
          var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
          var(--_g2) right var(--_p,0px) top,
          var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
        background-size: 
          20% 80%,
          40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        cursor: pointer;
        transition: 
          background-position .3s var(--_s,.3s), 
          clip-path 0s var(--_s,.6s);
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
      .menu:before,
      .menu:after {
        content:"";
        position: absolute;
        border-radius: var(--s);
        inset: 40% 0;
        background: var(--special-bg-color);
        transition: transform .3s calc(.3s - var(--_s,.3s));
      }
      
      .menu:checked {
        clip-path: inset(0);
        --_p: calc(-1*var(--s));
        --_s: 0s;
      }
      .menu:checked:before {
        transform: rotate(45deg);
      }
      .menu:checked:after {
        transform: rotate(-45deg);
      }
      .menu:focus-visible {
        clip-path: none;
        -webkit-mask: none;
        mask: none;
        border: none;
        outline: 2px solid var(--special-bg-color);
        outline-offset: 5px;
      }
      .header-container .logo{
        z-index: 1;
      }
    .nav-container {
        /* display: none; */
        position: fixed;
        top: -100%;
        width: 100%;
        background: #fff;
        min-height: 100vh;
        justify-content: center;

    }
    .nav-list {
        flex-direction: column;
        row-gap: 1rem;
    }
    .nav-container-show{
        top: 0;
    }
  }
  
  @media (max-width: 1024px) {
    .mbl-hero{
        display: block;
    }
    .desk-hero{
        display: none;
    }
    .hero-background-video video{
        height: auto;
    }
    .about-us-container{
        padding: 0 1rem;
        row-gap: 1.783636rem;
        flex-direction: column;
    }
    .our-services .cards-container{
        justify-content: center;
        row-gap: 1.3347475rem;
        column-gap: 1.5rem;
    }
    .why-to-choose-sub-container{
        display: block;                    
       }
       .why-to-choose-sub-item {
        margin-bottom: 1rem;
      }
      .insight-slider-container {
        padding: 3rem 0;
      }
    
  }
  
  @media (max-width: 768px) {
   
    .about-us{
        padding: 0 1rem .5rem;
    }
  
    .about-us .heading{
        font-size: 1.8rem;
        padding: 0;
        text-align: center;
    }
    .about-us-container .left .sub-heading{
        font-size: 1rem;
        font-weight: 500;
    }
    .about-us-container .left p{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .about-us-container .right img{
        width: 100%;
        height: auto;
    }
    .banner-sus .banner-container .banner-text p{
        font-size: 1.1113rem;
        text-align: center;
    }

    .what-do-we-do{
        padding: 1.5rem 1rem;
    }
    .section-header h2{
        font-size: 1.8rem;
    }
    .section-header p {
        font-size: 1rem;
    }
    .our-services-container{
        padding: 3rem 2rem;
    }
   
    .our-services-container .headings{
        margin-bottom: 1rem;
      }
    .our-services-container .headings h2{
        font-size: 1.88rem;
    }
    .card {
        width: 100%;
    }
    .card:nth-child(2n){
        margin-top: 0;
      }
      .why-to-choose-us{
        padding: 2rem 1rem;
      }
      .why-to-choose-sub-container{
       display: block;                    
      }
    
      .why-to-choose-text h2{
        font-size: 1.777rem;
      }
      .why-to-choose-text p{
        font-size: .8rem;
      }
      .links-section{
        padding: 1rem;
      }
      .section-heading {
        font-size: 1.88rem;
      }
      .links-container{
        grid-template-columns: repeat(1 , 1fr);
      }
      .insight-slider-container{
        padding: 2rem 1rem;
      }
      .insight-slider-container .insights-text h2{
        font-size: 1.88rem;
      }
      .splide__slide .card {
        width: 100%;
      }
      .slider-container {
        padding-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
      .slider-controls{
        top: -20px;
      }
      .more-insights .btn-white {
        font-size: 12px;
      }
      .news-section{
        padding: 2rem 1rem;
      }
      .news-section h2 {
        font-size: 1.88rem;
      }
      .contact-us{
        padding: 2rem 1rem;
      }
      .contact-us-image , .contact-us-form{
        width: 100%;
      }
      .contact-us-container{
        flex-direction: column;
        row-gap: 1.5rem;
      }
      .contact-us-image img{
        height: auto;

      }
   
  }
  
  @media (max-width: 576px) {
   

   
  }


  
  